[Unit]
Description=QR30 LED suspend/shutdown off
Before=sleep.target
Before=poweroff.target
Before=halt.target
Before=reboot.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/QR30-led.sh off

[Install]
WantedBy=sleep.target
WantedBy=poweroff.target
WantedBy=halt.target
WantedBy=reboot.target
